<article class="container-fluid">
  <div class="row">
    <div class="col-8">
      <p class="mb-0 text-secondary">
        <small>{{evt.location | GsEventsLocationsIdToString | async | uppercase}} / {{evt.venue | uppercase}}</small>
      </p>
      <h4 class="mb-0 font-weight-bold">
        {{evt.title}}
      </h4>
      <time [dateTime]="evt.datetime" class="text-secondary">
        <small>{{evt.datetime | date : 'EE dd.MM. / HH:mm'}}</small>
      </time>
    </div>
    <div class="col-4">
      <figure class="figure">
        <img [src]="evt.imageUrl" [alt]="evt.title" [title]="evt.title" class="figure-img img-fluid" />
      </figure>
    </div>
  </div>
</article>
