<div *ngIf="heading" class="container-fluid">
  <h2><b>{{heading | uppercase}}</b></h2>
</div>

<ul class="list-unstyled">
  <li *ngFor="let evt of events | slice:0:highlightedOnTop" class="mb-5">
    <a [routerLink]="['/events', evt.id]">
      <fdl-events-teaser-big [evt]="evt"></fdl-events-teaser-big>
    </a>
  </li>
</ul>

<ul class="list-unstyled">
  <li *ngFor="let evt of events | slice:highlightedOnTop" class="mb-4">
    <a [routerLink]="['/events', evt.id]">
      <fdl-events-teaser-small [evt]="evt"></fdl-events-teaser-small>
    </a>
  </li>
</ul>
