<div class="container-fluid">
  <h2>
    <a [routerLink]="['/events']">
      <b>VERANSTALTUNGEN</b>
    </a>
  </h2>
</div>

<fdl-events-catswitcher [categories]="categoriesInCatswitcher"></fdl-events-catswitcher>

<fdl-events-quicknav (onQuerySearchSubmit)="redirectToEventsSearch({query: $event})" (onDateSelect)="redirectToEventsSearch({date: $event})"></fdl-events-quicknav>

<fdl-events-list *ngFor="let col of categoriesOnList"
                 [events]="events[col.id]"
                 [highlightedOnTop]="1"
                 [heading]="col.name"
></fdl-events-list>
