<div class="container-fluid">
  <h2><b>VERANSTALTUNGEN</b></h2>
</div>

<fdl-events-catswitcher></fdl-events-catswitcher>

<fdl-events-quicknav></fdl-events-quicknav>

<fdl-events-list [events]="events['Highlights']"
                 [highlightedOnTop]="1"
                 heading="Highlights"></fdl-events-list>

<fdl-events-list [events]="events['Konzert']"
                 [highlightedOnTop]="1"
                 heading="Konzerte"></fdl-events-list>

<fdl-events-list [events]="events['Comedy']"
                 [highlightedOnTop]="1"
                 heading="Comedy & Kabarett"></fdl-events-list>
