<div class="container-fluid">
  <h2 class="font-weight-bold text-uppercase">
    <a [routerLink]="['/events']">
      Veranstaltungen
    </a>
  </h2>
</div>

<fdl-events-catswitcher></fdl-events-catswitcher>

<div class="container-fluid">
  <fdl-events-quicknav (onQuerySearchSubmit)="redirectToEventsSearch({query: $event})"
                       (onDateSelect)="redirectToEventsSearch({date: $event})"
                       (onLocationSelect)="redirectToEventsSearch({location: $event})"></fdl-events-quicknav>
</div>

<fdl-events-list *ngFor="let col of categoriesOnList"
                 [events]="events[col.id]"
                 [highlightedOnTop]="1"
                 [heading]="col.name"></fdl-events-list>
