<div class="row">
  <div class="col text-center">
    <a class="btn btn-share btn-twitter">
      <i class="icon-twitter1"></i>
    </a>
  </div>
  <div class="col text-center">
    <a class="btn btn-share btn-facebook">
      <i class="icon-facebook1"></i>
    </a>
  </div>
  <div class="col text-center">
    <a class="btn btn-share btn-whatsapp">
      <i class="icon-whatsapp1"></i>
    </a>
  </div>
  <div class="col text-center">
    <a class="btn btn-share btn-secondary btn-mail">
      <i class="icon-mail_outline"></i>
    </a>
  </div>
</div>
