<div class="clearfix">
  <div class="float-right">
    <button type="button"
            class="btn"
            (click)="toggleExpand('team')">
      <i class="icon-search"></i>
    </button>
  </div>
</div>

<div *ngFor="let ies of isExpandedStates">
  <div *ngIf="ies.isExpanded" [ngSwitch]="ies.expandable" class="position-relative">
    <div *ngSwitchCase="'team'" class="position-absolute w-100">
      <fdl-sport-quicknav-team-search (onSubmit)="onTeamSearchSubmit.emit($event)"></fdl-sport-quicknav-team-search>
    </div>
  </div>
</div>
