<div class="container-fluid">
  <h2>
    <a [routerLink]="['/sport']">
      <b>SPORTTABELLEN</b>
    </a>
  </h2>
  <h3>
    <b>SPORTARTEN</b>
  </h3>
  <p><b>Wählen Sie unten die Sportart, für die Sie sich interessieren, oder suchen Sie nach Ort oder Verein.</b></p>
</div>

<div class="bg-light container-fluid">
  <ul class="list-inline">
    <li class="list-inline-item"><a (click)="filterSports()">ALLE</a></li>
    <li *ngFor="let letter of letters" class="list-inline-item"><a (click)="filterSports(letter)">{{letter | uppercase}}</a></li>
  </ul>
</div>

<div class="container-fluid">
  <table class="table table-hover table-sm">
    <tbody>
    <tr *ngFor="let sport of filteredSports | slice:0:10">
      <td>
        <a [routerLink]="['/sport/sports/', sport.id, 'leagues']">
          {{sport.name}}
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <fdl-common-ad></fdl-common-ad>
</div>

<div *ngIf="filteredSports.length > 10" class="container-fluid">
  <table class="table table-hover table-sm">
    <tbody>
    <tr *ngFor="let sport of filteredSports | slice:10:20">
      <td>
        <a [routerLink]="['/sport/sports/', sport.id, 'leagues']">
          {{sport.name}}
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <fdl-common-ad></fdl-common-ad>
</div>

<div *ngIf="filteredSports.length > 20" class="container-fluid">
  <table class="table table-hover table-sm">
    <tbody>
    <tr *ngFor="let sport of filteredSports | slice:20">
      <td>
        <a [routerLink]="['/sport/sports/', sport.id, 'leagues']">
          {{sport.name}}
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
