<div class="container-fluid">
  <h2>
    <a [routerLink]="['/events']">
      <b>VERANSTALTUNGEN</b>
    </a>
  </h2>
</div>

<fdl-events-catswitcher></fdl-events-catswitcher>

<fdl-events-quicknav (onQuerySearchSubmit)="addItemToSearchcriteria({query: $event})"
                     (onDateSelect)="addItemToSearchcriteria({date: $event})"></fdl-events-quicknav>

<fdl-events-searchcriteria-badges [searchcriteria]="searchcriteria"
                                  (removeItem)="removeItemFromSearchcriteria($event)"></fdl-events-searchcriteria-badges>
