<div class="container-fluid">
  <h2><b>VERANSTALTUNGEN</b></h2>
</div>

<fdl-events-catswitcher [categories]="categoriesInCatswitcher"></fdl-events-catswitcher>

<fdl-events-quicknav (onQuerySearchSubmit)="onSearchcriteriaChange({query: $event})"
                     (onDateSelect)="onSearchcriteriaChange({date: $event})"></fdl-events-quicknav>

<div class="container-fluid">
  <pre class="bg-light mt-4 pt-3 pb-3">
    query: {{queryObservable | async}}
    category: {{categoryIdObservable | async}} ({{categoryIdObservable | async | FdlEventsCategoriesIdToString | async}})
    date: {{dateObservable | async}}</pre>
</div>
