<article>
  <figure class="figure">
    <img [src]="evt.imageUrl" [alt]="evt.title" [title]="evt.title" class="figure-img img-fluid" />
  </figure>
  <div class="container-fluid">
    <p class="mb-0 text-secondary">
      <small>{{evt.location | FdlEventsLocationsIdToString | async | uppercase}} / {{evt.venue | uppercase}}</small>
    </p>
    <h4 class="font-weight-bold">
      {{evt.title}}
    </h4>
    <p>
      {{evt.teaser}}
    </p>
    <time [dateTime]="evt.datetime" class="text-secondary">
      <small>{{evt.datetime | date : 'EE dd.MM. / HH:mm'}}</small>
    </time>
  </div>
</article>
