<div class="clearfix">
  <div class="float-left">
    <a [routerLink]="['/events/search']"
       [queryParams]="{date: today | date : 'yyyy-MM-dd'}"
       queryParamsHandling="merge"
       class="btn gs-btn-default">
      HEUTE
    </a>
    <a [routerLink]="['/events/search']"
       [queryParams]="{date: tomorrow | date : 'yyyy-MM-dd'}"
       queryParamsHandling="merge"
       class="btn gs-btn-default">
      MORGEN
    </a>
  </div>
  <div class="float-right">
    <button type="button"
            class="btn"
            (click)="toggleExpand('location')">
      <i class="icon-map-pin"></i>
    </button>
    <button type="button"
            class="btn"
            (click)="toggleExpand('calendar')">
      <i class="icon-calendar1"></i>
    </button>
    <button type="button"
            class="btn"
            (click)="toggleExpand('query')">
      <i class="icon-search"></i>
    </button>
  </div>
</div>

<div *ngFor="let ies of isExpandedStates">
  <div *ngIf="ies.isExpanded" [ngSwitch]="ies.expandable" class="position-relative">
    <div *ngSwitchCase="'location'" class="position-absolute w-100">
      <gs-events-quicknav-location-search (onLocationSelect)="onLocationSelect.emit($event)"></gs-events-quicknav-location-search>
    </div>
    <div *ngSwitchCase="'calendar'" class="position-absolute w-100">
      <gs-events-quicknav-date-search (onDateSelect)="onDateSelect.emit($event)"></gs-events-quicknav-date-search>
    </div>
    <div *ngSwitchCase="'query'" class="position-absolute w-100">
      <gs-events-quicknav-query-search (onSubmit)="onQuerySearchSubmit.emit($event)"></gs-events-quicknav-query-search>
    </div>
  </div>
</div>

